.footer {
  background-color: #0067A3;
  padding: 0 20px;
  height: 55px;
  display: flex;
  align-items: center;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #FFFFFF;
  font-size: 18px;
}

.footer__tasks {
  display: flex;
  gap: 25px;
}

.footer__task-count {
  font-size: 18px;
}

.footer__author {
  font-size: 18px;
}

@media (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    gap: 8px;
    justify-content: center;
  }
  
  .footer__tasks {
    gap: 15px;
    order: 1;
  }
  
  .footer__author {
    order: 2;
  }
  
  .footer__author,
  .footer__task-count {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .footer {
    height: auto;
    padding: 10px 20px;
  }
  
  .footer__tasks {
    flex-direction: column;
    gap: 5px;
    text-align: center;
  }
  
  .footer__author {
    text-align: center;
  }
}